{#

Description text for the SALESmanago Integration.

#}

{% trans %}

<p>The SALESmanago Integration module defines a Endpoint and a Salesmanago entity type,
 which are used to configure the webform integration with SALESmanago.</p>

{% endtrans %}
